<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
    
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item me-2">
            <a href="/logout" class="btn btn-danger">Sair</a>
        </li>
    </ul>

  </nav>