<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </tbody>
        </thead>
    </table>
    
    </div>
</body>
<%- include('./partials/footer.ejs') %>