<%- include('../partials/header.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Cadastro</h3>
            </div>

            <div class="card-body">
                <form action="/user/save" method="post">
                    <input type="text" class="form-control" name="name" placeholder="Nome">
                    <br>
                    <input type="email" class="form-control" name="email" placeholder="E-mail">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Senha">
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>