<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Login</h3>
            </div>

            <div class="card-body">
                <form action="/user/authenticate" method="post">
                    <input type="email" class="form-control" name="email" placeholder="E-mail">
                    <br>
                    <input type="password" class="form-control" name="password" placeholder="Senha">
                    <br>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="submit">Log-in</button>
                    </div>
                    <br>
                    <div style="text-align: center;">
                        <a href="/user/create">Não cadastrado? Cadastre-se</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>